<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="D2DSoft_DataMigration::main" title="D2dSoft" translate="title" sortOrder="90">
                    <resource id="D2DSoft_DataMigration::datamigration" title="Data Migration" translate="title" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
